.buttons-container {
  @include displayFlex;
  margin-top: 30px;


  .button-action {
    padding: 10px 20px;
  }
}

.button-action {
  @include button-styles;
  cursor: pointer;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));


  &:hover {
    background-position: 100% 0;
    background-color: $light-gray;
    background-image: none;
    color: $secondary-color;
    border: 2px solid $secondary-color;
  }

  .button-input {
    margin-top: 5px;
  }
}

.button-x-remove {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid $secondary-color;
  background-color: $white;
  transition: all 0.3s ease-in-out;
  color: $secondary-color;
  font-weight: bold;
  margin-left: $spacing-medium;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: $light-gray;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
}

.button-remove-all-name {
  position: fixed;
  bottom: 100px; /* Adjust as needed */
  left: 75px; /* Adjust as needed */
  padding: 10px 20px;
}

.button-remove-all-results {
  position: fixed;
  bottom: 100px; /* Adjust as needed */
  right: 75px; /* Adjust as needed */
  padding: 10px 20px;
}
