  .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: radial-gradient(ellipse at center, $white 0%, $light-gray 100%);
    @include displayFlex;
    height: 100%;
    width: 100%;
  }
  
  .loader {
    margin-top: 40px;
    width: 450px;
    height: 450px;
    position: relative;
  }
  
  .loader .extra-outer {
    position: absolute;
    top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px;
    border-left: 5px solid lighten($primary-color, 20%);
    border-right: 5px solid lighten($primary-color, 20%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite reverse;
  }
  
  .loader .outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 5px solid $primary-color;
    border-right: 5px solid $primary-color;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 4s linear infinite;
  }
  
  .loader .middle {
    position: absolute;
    top: 67.5px;
    left: 67.5px;
    right: 67.5px;
    bottom: 67.5px;
    border-left: 5px solid $secondary-color;
    border-right: 5px solid $secondary-color;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite reverse;
  }
  
  .loader .inner {
    position: absolute;
    top: 135px;
    left: 135px;
    right: 135px;
    bottom: 135px;
    border-left: 5px solid lighten($primary-color, 20%);
    border-right: 5px solid lighten($primary-color, 20%);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite;
  }
  
  .loader .circle {
    position: absolute;
    top: 202.5px;
    right: 202.5px;
    left: 202.5px;
    bottom: 202.5px;
    background-color: $secondary-color;
    border-radius: 50%;
  }
  
  @keyframes rotate28 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  