// Mixins
@mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@mixin button-styles {
  background-image: linear-gradient(90deg, $red 0%, $secondary-color 50%);
  background-size: 300% 100%;
  font-size: 16px;
  color: $white;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: $spacing-small;
  @include displayFlex()
}


  