@mixin custom-box-shadow($x, $y, $blur, $color) {
  box-shadow: $x $y $blur $color;
}

@mixin box-shadow {
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.3));
}

@mixin displayFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
@mixin button-styles {
  background-image: linear-gradient(90deg, $red 0%, $secondary-color 50%);
  background-size: 300% 100%;
  font-size: 16px;
  color: $white;
  border: 4px solid transparent;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  margin: 0 10px;
  padding: $spacing-small;
  @include displayFlex()
}


  