.name-list-container {
  width: 275px;
  height: 500px;
  overflow-y: auto;
  position: fixed;
  left: 20px;
}

.name-list-container::-webkit-scrollbar {
  width: 8px;
}

.name-list-container::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

.name-list-container::-webkit-scrollbar-thumb {
  height: 160px;
  background: linear-gradient(180deg, $red 0%, $secondary-color 50%); 
}

.name-list-container::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(3600deg, $red 0%, $secondary-color 50%);
}

.input-container {
  @include displayFlex;
  margin-bottom: $spacing-medium;
  position: relative;
}

.input-container input {
  border: 2px solid $primary-color;
  border-radius: 30px;
  padding: $spacing-medium $spacing-large;
  margin: $spacing-medium;
  width: 25%;
  color: $primary-color;
  font-size: 16px;
  font-weight: bold;

  &:focus {
    outline: none;
    border: 2px solid $primary-color;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  &::placeholder {
    color: $light-gray;
  }
}

.warning-icon {
  margin-right: 10px;
}

.error-message {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #ff017e;
  bottom: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-title {
  color: $primary-color;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: $spacing-medium;
  position: fixed;
  left: 100px;
  top: 160px;
}

.name-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.name-item {
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  
  color: #888;
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.user-icon {
  margin-right: 3px;
}

.list-item-container {
  position: relative;
}

.list-item{
  position: relative;
}