.pairing-container {
    width: 750px;
    height: 280px;
    margin: 0 auto 20px auto;

    .pairing-title {
        @include box-shadow;   
        color: $primary-color;
        font-size: 42px;
        font-weight: bold;
        margin-top: 60px;
        margin-bottom: 60px;
    }


    .pairing-size-buttons {
        @include displayFlex;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        
        .button-pairing {
            background: linear-gradient(45deg, $red 0%, $secondary-color 90%);
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            margin: 20px;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                outline-offset: 4px;
                outline: 4px solid $secondary-color;
            }
        }
    }
}

