.modal {
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    margin-bottom: 40px;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 60px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 1200px;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .pairing-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px auto;
    height: 100%;
    overflow-y: scroll;
    padding-right: 16px; 

    @media screen and (min-width: 1650px) {
        width: 1000px;
    }
  
    .pairing-result {
      background-color: #f1f1f1;
      align-content: center;
      border-radius: 4px;
      padding: 10px 15px;
      margin: 10px;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
    .download-button {
      background-color: $primary-color !important;
      outline: none;
      color: $white;
      border: none;
      cursor: pointer;
      animation: bounce 2s infinite;
      transition: background-color 0.3s ease, transform 0.3s ease;
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }

  .pairing-result-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .pairing-result-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .pairing-result-container::-webkit-scrollbar-thumb {
    height: 60px;
    background: linear-gradient(180deg, $red 0%, $secondary-color 50%); 
  }
  
  .pairing-result-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(3600deg, $red 0%, $secondary-color 50%);
  }