.pairing-container {
    width: 700px;
    height: 250px;
    margin: 0 auto 20px auto;

    .pairing-size-buttons {
        @include displayFlex;
        margin-top: 30px;
        width: 100%;
        height: 100%;
        
        .button-pairing {
            background: linear-gradient(45deg, $red 0%, $secondary-color 90%);
            color: $white;
            text-transform: uppercase;
            font-size: 20px;
            margin: 20px;
            width: 100%;
            height: 100%;
            outline: none;
            border: none;
            border-radius: 10px;
            cursor: pointer;

            &:hover {
                outline-offset: 4px;
                outline: 4px solid $secondary-color;
            }
        }
    }
}

.pairing-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px auto 100px auto;
    width: 1200px;
  
    .pairing-result {
      background-color: #f1f1f1;
      border-radius: 4px;
      padding: 10px 15px;
      margin: 10px;
      font-size: 16px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
      }
    }
  }