.pastResults-container {
    width: 250px;
    height: 500px;
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 20px;
  }

  .pastResults-container::-webkit-scrollbar {
    width: 8px;
  }
  
  .pastResults-container::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  .pastResults-container::-webkit-scrollbar-thumb {
    height: 160px;
    background: linear-gradient(180deg, $red 0%, $secondary-color 50%); 
  }
  
  .pastResults-container::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(3600deg, $red 0%, $secondary-color 50%);
  }

  .pastResults-title {
    @include box-shadow;
    color: $primary-color;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: $spacing-medium;
    position: fixed;
    right: 100px;
    top: 160px;
  }

  .results-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .result-item {
    border-radius: 10px;
    margin: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 10px;
    
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    
    .download-button {
      cursor: pointer;
      background-color: white;
      border: none;
      text-align: center;
      color: #888;
      font-family: $body-font;
      font-size: 16px;
    }
  }