.roulette-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.roulette {
  margin-top: 40px;
  width: 450px;  // Increased size by 50%
  height: 450px;  // Increased size by 50%
  position: relative;
}

.roulette .extra-outer {
  position: absolute;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
  border-left: 5px solid lighten($primary-color, 20%);
  border-right: 5px solid lighten($primary-color, 20%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 2s linear infinite reverse;
}

.roulette .outer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 5px solid $primary-color;
  border-right: 5px solid $primary-color;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 4s linear infinite;
}

.roulette .middle {
  position: absolute;
  top: 67.5px;  // Adjusted for larger size by 50%
  left: 67.5px;  // Adjusted for larger size by 50%
  right: 67.5px;  // Adjusted for larger size by 50%
  bottom: 67.5px;  // Adjusted for larger size by 50%
  border-left: 5px solid $secondary-color;
  border-right: 5px solid $secondary-color;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 2s linear infinite reverse;
}

.roulette .inner {
  position: absolute;
  top: 135px;  // Adjusted for larger size by 50%
  left: 135px;  // Adjusted for larger size by 50%
  right: 135px;  // Adjusted for larger size by 50%
  bottom: 135px;  // Adjusted for larger size by 50%
  border-left: 5px solid lighten($primary-color, 20%);
  border-right: 5px solid lighten($primary-color, 20%);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-radius: 50%;
  animation: rotate28 2s linear infinite;
}

.roulette .circle {
  position: absolute;
  top: 202.5px;  // Adjusted for larger size by 50%
  right: 202.5px;  // Adjusted for larger size by 50%
  left: 202.5px;  // Adjusted for larger size by 50%
  bottom: 202.5px;  // Adjusted for larger size by 50%
  background-color: $secondary-color;
  border-radius: 50%;
}

@keyframes rotate28 {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
