// roulette.css
.roulette-container {
    // background: radial-gradient(ellipse at center, #fff 0%, #f0f0f0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  
  .roulette {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    position: relative;
  }
  
  .roulette .outer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-left: 5px solid $primary-color;
    border-right: 5px solid $primary-color;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite;
  }
  
  .roulette .middle {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    border-left: 5px solid #ec008c;
    border-right: 5px solid #ec008c;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite reverse;
  }
  
  .roulette .inner {
    position: absolute;
    top: 60px;
    left: 60px;
    right: 60px;
    bottom: 60px;
    border-left: 5px solid $primary-color;
    border-right: 5px solid $primary-color;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-radius: 50%;
    animation: rotate28 2s linear infinite;
  }
  
  .roulette .circle {
    position: absolute;
    top: 90px;
    right: 90px;
    left: 90px;
    bottom: 90px;
    background-color: #ec008c;
    border-radius: 50%;
  }
  
  @keyframes rotate28 {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  