// Colors
$primary-color: #ff017e;
$secondary-color: #ec008c;
$red: #FE0000;
$light-gray: #5f5b5b8f;
$white: #ffffff;

// Fonts
$body-font: 'Roboto', sans-serif;

// Spacing
$spacing-small: 5px;
$spacing-medium: 10px;
$spacing-large: 20px;
