@import 'variables';
@import 'mixins';
@import 'loader';
@import 'globals';
@import 'nameList';
@import 'pastResults';
@import 'pairingResultModal';
@import 'footer';
@import 'buttons';
@import 'pairing';
@import 'roulette';

.App {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

/* Logo */
.logo {
  position: fixed;
  left: 40px;
  top: 20px;
  height: 80px;
  @include box-shadow;

}

/* Title */
.title-container {
  @include displayFlex;
  margin-top: 50px;
}
.subtitle-container {
  @include displayFlex;
  margin-top: 10px;
}

.appTitle,
.paringTitle,
.rouletteTitle,
.name-title {
  color: $primary-color;
  @include box-shadow;
}

.appTitle {
  font-size: 60px;
  font-weight: bold;
}

.logo-cup {
  margin-left: 10px;
  padding-bottom: 10px;
  @include box-shadow;
}

/* App Content */
.appContent {
  margin: 30px auto 0 auto;
  height: auto;
  position: relative;
}





