body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.App {
  position: relative;
  text-align: center;
  margin: 0 auto;
}

.popup {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.logo {
  position: absolute;
  left: 20px;
  top: -40px;
  height: 60px;
}

.footer-container {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  background-color: #FC0100;
  width: 100%;
}

.footer {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.appTitle, .paringTitle, .rouletteTitle{
  margin-top: 50px;
  color: #FF017E;
}

.name-title {
  color: #FF017E;

}

.appContent {
  margin: 50px auto 0 auto;
  max-width: 800px;
  height: auto;
}

.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.button-action {
  background-image: linear-gradient(90deg, #ff1e00 0%, #ec008c 65%);
  background-size: 300% 100%;
  font-size: 16px;
  color: #ffffff;
  border: 2px solid transparent;
  border-radius: 30px;
  transition: all 0.5s ease-in-out;
  text-decoration: none;
  padding: 10px 20px;
  margin-left: 10px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.button-action:hover {
  background-position: 100% 0;
  background-color: #f0f0f0;
  background-image: none;
  color: #ec008c;
  border: 2px solid #ec008c;
}

.button-remove {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ec008c;
  background-color: white;
  transition: all 0.3s ease-in-out;
  color: #ec008c;
  font-weight: bold;
  margin-left: 10px;
}

.button-remove:hover {
  background-color: #ec008c;
  color: #f0f0f0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}

.button-add-employee {
  padding: 5px 10px !important;
}

input {
  border: 2px solid #FF017E;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 10px;
  width: 50%;
}

input[type="text"] {
  color: #FF017E;
  font-size: 16px;
  font-weight: bold;
}

input:focus {
  outline: none;
  border: 2px solid #FF017E;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

input::placeholder {
  color: lightgray;
}


ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}

.name-list-container {
  text-align: center; 
}

.input-container {
  margin-bottom: 10px; 
}

.name-list {
  list-style: none; 
  padding: 0;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center; 
}

.name-item {
  border-radius: 10px;
  margin: 5px; 
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
  display: flex;
  align-items: center; 
  color: #888;
}

.user-icon {
  margin-right: 10px;
}